main {
    padding: 3rem 0;
    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }
    .col {
        margin-bottom: 1rem;
        .card {
            border: none;
            li{

                background-color: rgb(174, 112, 216);
            }

        }
    }
}